@font-face {
  font-family: "diaBold";
  src: url("/bold.woff") format("woff");
}
@font-face {
  font-family: "diaMed";
  src: url("/med.woff") format("woff");
}

* {
  font-family: "diaBold", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  width: 100%;
}

body {
  background: radial-gradient(#0b98d7, #7cdafb); /* Example gradient */
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

#myCanvas {
  position: absolute;
  z-index: 0;
}

footer {
  font-family: "diaMed", sans-serif;
  position: absolute;
  z-index: 0;
  bottom: 10px;
  left: 20px;
}
