html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  background-color: lightskyblue;
}

#copyright {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 20px;
}

#mailForm {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
}
